@charset 'utf-8';

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font: 300 14px Helvetica Neue, sans-serif;
	text-rendering: optimizeLegibility;
}

body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 14px;
}

header {
	margin: 70px 0;
}

h1, h2, p {
	font-weight: inherit;
	margin: 14px 0;
}

a {
	color: inherit;
}

input {
	font: normal 14px monospace;
	text-rendering: optimizeLegibility;
	width: 100%;
	padding: 14px;
	margin: 0 0 14px 0;
}

select {
	margin: 0 0 14px 7px;
}
